<!DOCTYPE html>
<html lang="en">

{% load static %}

{% for u in userinfo %}


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'css/table.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="">
                <i class="fas fa-university"></i>
                <span style="font-size: 16px;">Student Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

    
        

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-tachometer-alt"></i>
              <span style="font-size: 14px;">Dashboard</span></a>
      </li>
        
        <li class="nav-item">
            <a class="nav-link" href="userprofile">
                <i class="fas fa-user"></i>
                <span style="font-size: 14px;">Profile</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="scheme">
                <i class="fas fa-receipt"></i>
                <span style="font-size: 14px;">Payment Scheme</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="ledger">
                <i class="fas fa-dollar-sign"></i>
                <span style="font-size: 14px;">Payment Ledger</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="clearance">
                <i class="fas fa-check"></i>
                <span style="font-size: 14px;">Clearance Status</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="courses">
                <i class="fas fa-scroll"></i>
                <span style="font-size: 14px;">Courses</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="evaluation">
                <i class="fas fa-chalkboard-teacher"></i>
                <span style="font-size: 14px;">Teaching Evaluation</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="routine">
                <i class="fas fa-table"></i>
                <span style="font-size: 14px;">Routine</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="result">
              <i class="fas fa-chart-line"></i>
                <span style="font-size: 14px;">Result</span></a>
        </li>

        


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center">
            <button class="rounded-button">
                <i class="fas fa-sign-out-alt" style="color: rgb(78, 115, 223);"></i>
            </button>
        </div>

        

    </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <div class="DIUtext"><b>Daffodil International Univertsity</b></div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        
                            
                        
                                
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{u.fname}} {{u.lname}}</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    

                    <!-- Content Row -->

                    <div class="container-fluid mt--7">
                        <div class="row">
                          <div class="col-xl-4 order-md-2 mb-5 mb-xl-0">
                            <div class="card card-profile shadow">
                                <div class="text-center">
                                    <img style="max-width: calc(100% - 20px);" src="https://i.ibb.co/SRnBkTD/wp7197028-valorant-animated-wallpapers-475x269.png" class="rounded" alt="...">
                                </div>
                              <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                <div class="d-flex justify-content-between">
                                
                                </div>
                              </div>
                              <div class="card-body pt-0 pt-md-4">
                                
                                <div class="text-center">
                                  <h3>
                                    {{u.fname}} {{u.lname}}<span class="font-weight-light"></span>
                                    
                                  </h3>
                                  <h4>{{u.sid}}{{u.sid}}</h4>
                                  <div class="h5 font-weight-300">
                                    <i class="ni location_pin mr-2"></i>{{u.city}}, {{u.country}}
                                  </div>
                                  <div class="h5 mt-4">
                                    
                                  </div>
                                  <div>
                                    <i class="ni education_hat mr-2"></i>Daffodil International University
                                  </div>
                                  <hr class="my-4">
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-8 order-xl-1">
                            <div class="card bg-light shadow">
                              <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                  <div class="col-8">
                                    <h3 class="mb-0">My account</h3>
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="card-body">
                                <form>
                                  
                                  <h6 class="heading-small text-muted mb-4">User information</h6>
                                  <div class="pl-lg-4">
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <div class="form-group focused">
                                          <label class="form-control-label" for="input-username">Username</label>            
                                          <input disabled type="text" id="input-username" class="form-control form-control-alternative" value={{u.username}}>
                                        </div>
                                      </div>
                                      <div class="col-lg-6">
                                        <div class="form-group">
                                          <label class="form-control-label" for="input-email">Email address</label>
                                          <input disabled type="email" id="input-email" class="form-control form-control-alternative" value={{u.mail}}>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <div class="form-group focused">
                                          <label class="form-control-label" for="input-first-name">First name</label>
                                          <input disabled type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value={{u.fname}}>
                                        </div>
                                      </div>
                                      <div class="col-lg-6">
                                        <div class="form-group focused">
                                          <label class="form-control-label" for="input-last-name">Last name</label>
                                          <input disabled type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value={{u.lname}}>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <hr class="my-4">
                                  <!-- Address -->
                                  <h6 class="heading-small text-muted mb-4">Contact information</h6>
                                  <div class="pl-lg-4">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group focused">
                                          <label class="form-control-label" for="input-address">Address</label>
                                          <input disabled id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value={{u.address}} type="text">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-4">
                                        <div class="form-group focused">
                                          <label class="form-control-label" for="input-city">City</label>
                                          <input disabled type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value={{u.city}}>
                                        </div>
                                      </div>
                                      <div class="col-lg-4">
                                        <div class="form-group focused">
                                          <label class="form-control-label" for="input-country">Country</label>
                                          <input disabled type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value={{u.country}}>
                                        </div>
                                      </div>
                                      <div class="col-lg-4">
                                        <div class="form-group">
                                          <label class="form-control-label" for="input-country">Postal code</label>
                                          <input disabled type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder={{u.postal}}>
                                          
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <hr class="my-4">
                                  <!-- Description -->
                                  <h6 class="heading-small text-muted mb-4">About me</h6>
                                  <div class="pl-lg-4">
                                    <div class="form-group focused">
                                      <label>About Me</label>
                                      <textarea disabled rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">{{u.about}}</textarea>
                                      {% endfor %}
                                      
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    













                    <!-- Content Row -->
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            
            <!-- End of Main Content -->
            


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>